.Team {
  .container {
    height: 100%;
  }
  .row {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__member {
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    &:hover {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    &__info {
      display: flex;
      align-items: center;
      justify-content: center;

      &__extra {
        position: absolute;
        // display: none;

        &__text {
          padding: 20px;
        }
      }
    }

    &__title {
      font-size: 2rem;
      font-weight: bold;
      color: white;
      position: absolute;
    }

    &__img {
      width: 100%;
    }
  }
}

.hide {
  display: none;
}
