// Colors
$darkest-blue: #1a1c85;
$dark-blue:  #242582;
$purple: #553D67;
$pink: #F64C72;
$light-brown: hsl(317, 16%, 53%);
$blue: #2F2Fa2;

// Screen sizes

// Small tablets and large smartphones (landscape view)
$screen-sm: 576px;

// Small tablets (portrait view)
$screen-md: 768px;

// Tablets and small desktops
$screen-lg: 992px;

// Large tablets and desktops
$screen-xl: 1200px;


@import "../grid/variables";
